*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
}

/* button img{
  width: 20px;
} */